body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    /* background: linear-gradient(135deg, #1d3557, #457b9d); */
    /* background: linear-gradient(to bottom right, #250b37, #040e14); */
    background: #9134C2;
    background: linear-gradient(135deg, #9134C2, #3479B8);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 350px;
    height: auto;
}

.cta {
    margin: 3rem 0 0 0;
}

.tagline {
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 5rem;
}

.button {
    background: transparent;
    color: yellow;
    padding: 1rem 3rem;
    border: 2px solid yellow;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.footer p {
    margin: 0;
    font-size: 0.81rem;
    font-weight: 200;
}

.social-links {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #a8dadc;
    text-decoration: none;
    font-weight: bold;
}

.social-links a:hover {
    color: #f1faee;
}
